<div class="container">
    <div class="row" >
        <div class="col-12">
            <div class="d-flex flex-column bd-highlight mb-3">
                <div class="p-2 bd-highlight">
                    <h2 style="color: #8f8f8f;">
                        Tu pedido esta en proceso en estos momentos lo recibirás entre 4 o 8 dias si se precenta algun inconveniente se notificara por via whatsap. 
                        ¡Recuerda el valor del envio es gratis!
                    </h2>
                </div>
                <div class="p-2 bd-highlight">
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-primary" [routerLink]="['/tienda/productos']" routerLinkActive="router-link-active" >Volver ala tienda</button>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>