<footer class="footer">
    <div class="footer-container">
      <!-- Sede Bogotá -->
      <div class="footer-section">
        <h3> <strong> {{ tiendaInfo.nombreTienda }} </strong> </h3>
        <p>📞 {{ tiendaInfo.numeroCelular }}</p>
        <p>📧 {{ tiendaInfo.emailTienda }}</p>
        <p>📍 {{ tiendaInfo.direccionTienda }}</p>
        <p>Bogotá, Colombia</p>
      </div>
  
      <!-- Logo y redes sociales -->
      <div class="footer-center">
        <img [src]="tiendaInfo.logo" alt="Logo Distriburban" class="footer-logo" />
        <div class="social-icons">
          <a href="#" target="_blank">🔵</a>
          <a href="#" target="_blank">🟢</a>
          <a href="#" target="_blank">🔴</a>
          <a href="#" target="_blank">🔘</a>
        </div>
        <div class="footer-links">
          <a class="pointer" [routerLink]="[ '/tienda/politicas']">Términos y condiciones</a>
          <a class="pointer" [routerLink]="[ '/tienda/politicas']" >Política de privacidad</a>
          <a class="pointer" [routerLink]="[ '/tienda/nosotros']">Nosotros</a>
          <a class="pointer" [routerLink]="[ '/tienda/contacto']">Contacto</a>
        </div>
      </div>
  
      <!-- Sede Casanare -->
      <div class="footer-section">
        <h3> <strong> Cúcuta Norte de Santander </strong> </h3>
        <p>📞 {{ tiendaInfo.numeroCelular }}</p>
        <p>📧 {{ tiendaInfo.emailTienda }}</p>
        <p>📍 {{ tiendaInfo.direccionTienda }}</p>
        <p>Cúcuta, Norte de santander - Colombia</p>
      </div>
    </div>
    <br><br>
  </footer>
  