<!-- Para escritorio -->
<mat-toolbar class="toolbar-desktop" style="background: #bababa;">
    <div class="logo pointer">
      <img [src]="'/assets/imagenes/categorias/0.png' || tiendaInfo.foto" alt="Logo" height="50" routerLink="/tienda">
    </div>
    <!--<span class="spacer"></span>-->
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <a class="pointer" *ngFor="let itemCategory of lisCategory" style="padding: 5px; color: black;" (click)="handleOpenCategory( itemCategory )">
                    {{ itemCategory.cat_nombre }}
                </a>
            </div>
        </div>
    </div>
    <!--<span class="spacer"></span>-->
  
    <!--<span class="spacer"></span>-->
    <mat-icon class="pointer" (click)="menu2.toggle()">shopping_cart</mat-icon>
</mat-toolbar>
  
  <!-- Para móvil -->
<mat-toolbar class="toolbar-mobile" style="background: #bababa;">
  <button mat-icon-button (click)="menu.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo">
    <img [src]="'/assets/imagenes/categorias/0.png' || tiendaInfo.foto" alt="Logo" height="50" routerLink="/tienda">
  </div>
  <span class="spacer"></span>
  <!--<mat-icon (click)="toggleSearch()">search</mat-icon>-->
  <mat-icon class="pointer" (click)="menu2.toggle()">shopping_cart</mat-icon>
</mat-toolbar>

<!-- Sidenav para móvil -->
<mat-sidenav-container class="mobile-container">
    <mat-sidenav #menu mode="over" class="mobile-sidenav">
      <mat-nav-list>
        <a mat-list-item>Relojes hombre</a>
        <a mat-list-item>Ropa hombre</a>
        <a mat-list-item>Relojes mujer</a>
        <a mat-list-item>Accesorios varios</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav #menu2 mode="over" class="mobile-sidenav" position="end">

        <div class="cart-widget-side">
            <div class="wd-heading">
              <span class="title">Carro de la compra</span>
              <div class="close-side-widget pointer" (click)="menu2.toggle()">
                <mat-icon>close</mat-icon>
              </div>
            </div>
          
            <div class="widget">
              <div class="shopping-cart-widget-body">
                <div class="wd-scroll">
                  <ul class="cart_list">
                    <li
                      class="cart_item"
                      *ngFor="let item of listCart"
                      [attr.data-key]="item.codigo"
                    >
                      <a [routerLink]="urlLocation+'/tienda/productosView'+item.articulo" class="cart-item-image">
                        <img
                          [src]="item.foto"
                          [alt]="item.id"
                          class="product-thumbnail"
                          style="border-radius: 10px;"
                        />
                      </a>
          
                      <div class="cart-info">
                        <span class="product-title">{{ item.titulo | slice: 0:20 }}</span>
                        <span class="quantity" *ngIf="item.talla">
                          TALLA: {{ item.talla }}
                        </span>
                        <span class="quantity">
                            <mat-form-field class="example-full-width">
                                <mat-label>Cantidad</mat-label>
                                <input type="number" matInput #postalCode  placeholder="1, 2, 3" [(ngModel)]="item.cantidad">
                            </mat-form-field>
                          <span class="price">{{ ( item.costoTotal * item.cantidad ) | currency:'COP' }}</span>
                        </span>
                      </div>
                      <button
                        class="remove btn btn-danger"
                        (click)="removeItem( item )"
                        aria-label="Eliminar"
                        >
                          <mat-icon>close</mat-icon>
                        </button>
                    </li>
                  </ul>
                </div>
          
                <div class="shopping-cart-widget-footer">
                  <p class="total">
                    <strong>Subtotal:</strong>
                    <span>{{ calculateSubtotal() | currency:'COP' }}</span>
                  </p>
                  <div class="buttons">
                    <button class="btn btn-dark" style="font-size: 15px;" (click)="menu2.toggle()">cerrar</button>
                    <button class="btn btn-success" routerLink="/tienda/carrito" style="font-size: 15px;" (click)="menu2.toggle()">
                      Finalizar compra
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          
    </mat-sidenav>
  
    <mat-sidenav-content>
  
        <ng-content></ng-content>
      
    </mat-sidenav-content>
  </mat-sidenav-container>