.spacer {
  flex: 1 1 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toolbar-desktop {
  display: flex !important;
}

.toolbar-mobile {
  display: flex !important;
  justify-content: space-between;
}

.mobile-container {
  display: block !important;
}

.search-field {
  width: 300px;
}

.product-card {
  margin: 2px;
  text-align: center;
  transition: transform 0.2s;
  max-width: 100%;
}

.product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.purchase-notification {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.purchase-notification img {
  margin-right: 10px;
}

/* Para pantallas grandes */
@media (min-width: 768px) {
  .toolbar-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toolbar-mobile {
    display: none !important;
  }

  .row .col-6 {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
  }

  .search-field {
    display: block;
  }
}

/* Para dispositivos móviles */
@media (max-width: 767px) {
  .toolbar-desktop {
    display: none !important;
  }

  .toolbar-mobile {
    display: flex;
  }

  .mobile-container {
    display: block;
  }

  .row .col-6 {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .search-field {
    display: none !important;
  }

  .search-field-mobile {
    width: 100%;
  }

  .product-card {
    margin: 2px;
  }
}
