<div class="row">
  <div class="col-12" *ngFor="let item of listCategorias">
    <div class="text-center my-4">
      <h1> <strong>  {{ item.cat_nombre }} </strong> </h1>
    </div>

    <div class="content">
      <div class="row" *ngIf="item.articleData.length">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let product of item.articleData">
          <mat-card style="padding: 0 !important" class="product-card" [routerLink]="[ '/tienda/productosView', product.id ]">
            <div class="image-container">
              <img [src]="product.foto" alt="{{ product.pro_nombre }}">
            </div>
            <mat-card-title class="title">{{ product.pro_nombre }}</mat-card-title>
            <mat-card-subtitle class="price">
              <span><del>{{ _formato.monedaChange(3, 2, product.pro_uni_venta * 2) }}</del></span>
              <span>{{ _formato.monedaChange(3, 2, product.pro_uni_venta) }}</span>
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
      <div class="row" *ngIf="item.articleData.length === 0" style="width: 100%;">
        <div class="d-flex justify-content-center" style="width: 100%;">
          <div>
            <h2>Lo Sentimos no tenemos información</h2>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
</div>
<!-- Notificación de compra -->
<div class="purchase-notification" *ngIf="showNotification">
  <img src="{{ lastPurchase.image }}" alt="{{ lastPurchase.name }}" width="50">
  <span>{{ lastPurchase.user }} compró: {{ lastPurchase.name }} por {{ lastPurchase.price }}</span>
</div>
