<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <h2 style="text-align: center;">
                    Tu pedido esta en proceso en estos momentos lo recibirás entre 4 o 8 dias si se precenta algun inconveniente se notificara por via whatsap. 
                    ¡Recuerda el valor del envio es gratis!
                </h2>
                <h2 style="text-align: center; color: black;">
                  Nuestras Lines de Pago Unicas Disponibles Nequi # <button mat-button color="primary" (click)="handleCopy( ShopConfig.numNequi )"> {{ ShopConfig.numNequi }} </button> <br>
                  Nuestras Lines de Pago Unicas Disponibles Bancolombia # <button mat-button color="primary" (click)="handleCopy( ShopConfig.numBancolombia )"> {{ ShopConfig.numBancolombia }} </button>
              </h2>
            </div>
        </div>
        <div class="col-12">
            <h3 style="    text-align: center;
            background: #bababa;
            border-radius: 10px;
            padding: 2%;">Para Iniciar seccione 
                Usuario: {{ dataUser.usu_usuario }}
                clave: {{ dataUser.usu_usuario }}
            </h3>
            <h3 style="text-align: center;     text-align: center;
              background: #00b429;
              border-radius: 10px;
              padding: 2%;">
              <a [href]="urlHref" style="color: white;" target="_blank">INICIAR SECCION</a>
            </h3>
        </div>
        <div class="col-12">
          <div class="woocommerce-order">
            <div class="thankyoucustom_wrapper">
              <h3 class="thankyoutitle">Gracias por tu compra, {{ dataUltV.ven_nombre_cliente }}!</h3>
              <p class="subtitle">
                Para una respuesta más rápida, envíe los detalles de su pedido haciendo
                clic en el botón de abajo.
              </p>
              <a
                id="sendbtn"
                (click)="handleWhatsapp(dataUltV)"
                class="pointer"
              >
                Enviar detalles del pedido por Whatsapp
              </a>
            </div>
          
            <ul class="woocommerce-order-overview order_details">
              <li class="order">Número del pedido: <strong>{{ dataUltV.id }}</strong></li>
              <li class="date">Fecha: <strong>{{ dataUltV.ven_fecha_venta }} </strong></li>
              <li class="total">Total: <strong>{{ _tools.monedaChange2( 3,2, ( this.dataUltV.ven_total ) ) }}</strong></li>
              <li class="method">Método de pago: <strong>{{ dataUltV.ven_tipo }}</strong></li>
            </ul>
          
            <span *ngIf="dataUltV.ven_tipo !== 'PAGO ADELANTADO' ">
              <p>💡 Ofrecemos el servicio de pago contra entrega para mayor comodidad de nuestros clientes.</p>
              <p>Para asegurar el pedido, se requiere un pago previo de $20.000 que será descontado del total.</p>
              <p>Recuerda estar disponible en la dirección proporcionada.</p>
            </span>
          
            <section class="woocommerce-order-details">
              <div class="d-flex justify-content-center">
                <div *ngIf="!dataUltV.ven_imagen_conversacion">
                  <br>
                  <a
                    id="sendbtn"
                    style="background: #ffaf00; font-size: 220%;"
                    (click)="handleBuyEpayco()"
                    class="pointer"
                  >
                    <strong>Pagar con Epayco</strong>
                  </a>
                </div>
                <div *ngIf="dataUltV.ven_imagen_conversacion">
                  <h2><strong>YA TENEMOS TU PAGO FELICIDADES</strong></h2>
                </div>
              </div><br><br>
              <h2>Detalles del pedido</h2>
              <div class="responsive-table">
                <table class="woocommerce-table order_details">
                  <thead>
                    <tr>
                      <th>Producto</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataUltV.listArticulo">
                      <td>
                        <a (click)="handleOpenArt( item )">{{ item.titulo }} - {{ item.tallaSelect || 'Unica' }}</a>
                        <strong>× {{ item.cantidad }}</strong>
                      </td>
                      <td>{{ this._tools.monedaChange2( 3,2, ( item.loVendio *  item.cantidad ) ) }}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Subtotal:</th>
                      <td>{{ _tools.monedaChange2( 3,2, ( this.dataUltV.ven_precio ) ) }}</td>
                    </tr>
                    <tr>
                      <th>
                        <span *ngIf="dataUltV.ven_tipo !== 'PAGO ADELANTADO' ">Cargo adicional:</span>
                        <span *ngIf="dataUltV.ven_tipo === 'PAGO ADELANTADO' ">Descuento por pago anticipado</span>
                      </th>
                      <td>{{ _tools.monedaChange2( 3,2, ( this.dataUltV.ven_ganancias ) ) }}</td>
                    </tr>
                    <tr>
                      <th>Total:</th>
                      <td>{{ _tools.monedaChange2( 3,2, ( this.dataUltV.ven_total ) ) }}</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </section>
          
            <section class="woocommerce-customer-details">
              <h2>Dirección de facturación</h2>
              <address>
                {{ dataUltV.ven_nombre_cliente }}<br />
                {{ dataUltV.ven_direccion_cliente }} - {{ dataUltV.ven_barrio }}<br />
                {{ dataUltV.ven_ciudad }}<br />
                <p>{{ dataUltV.ven_telefono_cliente }}</p>
              </address>
            </section>
          </div>          
        </div>
        <!--<div class="col-12">
            <div class="search-results col-12 row" infiniteScroll [infiniteScrollDistance]="3"
            [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
            <div class="col-12 material-datatables" *ngIf="!loader">
              <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                width="100%" style="width:100%">
                <thead>
                  <tr>
                    <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th *ngFor="let row of dataTable.headerRow">{{ row }}</th>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows; let idx=index">

                    <td>
                      <button (click)="crear(row)" class="btn btn-primary btn-just-icon btn-round">
                        <i class="material-icons">remove_red_eye</i>
                      </button>
                      <button (click)="handleWhatsapp(row)" class="btn btn-warning btn-just-icon btn-round">
                        Enviar Whatsapp
                      </button>
                    </td>
                    <td>{{ row['ven_tipo'] }}</td>
                    <td>{{ row['ven_nombre_cliente'] }}</td>
                    <td>{{ row['ven_telefono_cliente'] }}</td>
                    <td>{{ row['ven_fecha_venta'] }}</td>
                    <td>{{ row['ven_cantidad'] }}</td>
                    <td>
                      $ {{ ( row['ven_precio'] || 0 ).toLocaleString(1) }} COP
                    </td>
                    <td *ngIf="row['ven_estado'] == 0">Pendiente</td>
                    <td *ngIf="row['ven_estado'] == 1">Venta Exitosa</td>
                    <td *ngIf="row['ven_estado'] == 2">Rechazada</td>
                    <td *ngIf="row['ven_estado'] == 3">Despachado</td>
                    <td>{{ row['ven_motivo_rechazo'] }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12 p-5">
                <ngx-spinner bdOpacity=0.9 bdColor="" size="default" color="#581f87" type="ball-pulse-sync"
                  [fullScreen]="false">
                </ngx-spinner>
              </div>
            </div>
          </div>
        </div>-->
    </div>
</div>